*{ box-sizing:border-box}
        body {background-color:blue}
        h1 {text-align: center; color:yellow}
        h2 {background-color: lightblue;}
        p {background-color:blue; color:yellow; font-size:2em;line-height:48px; text-align:justify; }
        img {float:left; padding:15px}
        @media  screen and (max-width: 800px)
         { img {display:block;float:none; width:60%;margin-left:auto; margin-right:auto; padding:15px; background-color: white;box-shadow: 3px 3px 5px black;}
         p {font-size:1.5em; padding:10px; color:white;font-weight: bold; margin-top:10px;}
            
        }